USE [master]
GO
/****** Object:  Database [movies]    Script Date: 11/28/2019 5:44:47 PM ******/
CREATE DATABASE [movies]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [movies].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [movies]
GO

/****** Object:  Table [dbo].[Movie]    Script Date: 11/28/2019 5:44:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movie](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Director] [nvarchar](100) NOT NULL,
	[DateReleased] [datetime] NOT NULL,
 CONSTRAINT [PK_Movie] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Movie] ON 

INSERT [dbo].[Movie] ([Id], [Title], [Director], [DateReleased]) VALUES (1, N'50 Shades of Grey', N'Sam Taylor-Johnson', CAST(N'2015-02-09 00:00:00.000' AS DateTime))
INSERT [dbo].[Movie] ([Id], [Title], [Director], [DateReleased]) VALUES (2, N'The Irishman', N' Martin Scorsese', CAST(N'2019-11-27 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Movie] OFF
USE [master]
GO
